In [116]:
#Install packages:
import numpy as np
import matplotlib as plt
import pandas as pd
import math
import csv

In [117]:
#Read in the tsv file:
df = pd.read_csv("participants_BIMCV_COVID19.tsv",sep='\t')

In [118]:
#Print dataframe:
df

,participant,modality_dicom,body_parts,age,gender
0,sub-S328670,['CT'],[['chest']],[77],M
1,sub-S03080,"['DX', 'CT', 'CR']","[['chest'], ['chest'], ['chest']]","[76, 77]",M
2,sub-S324978,['CT'],[['chest']],[60],F
3,sub-S313556,['DX'],[['chest']],[66],F
4,sub-S326512,"['CT', 'CR']","[['chest'], ['chest']]",[68],M
...,...,...,...,...,...
30984,sub-S10309,"['DX', 'CR']","[['chest'], ['chest']]",[63],M
30985,sub-S330379,['CR'],[['chest']],[58],M
30986,sub-S329823,['DX'],[['chest']],[79],F
30987,sub-S315438,['CR'],[['chest']],[37],M
30988,sub-S11897,['DX'],[['chest']],[63],F

In [119]:
#Add column that states if modality dicom contains chest radiology:
df['CR']= df['modality_dicom'].str.contains('CR', regex=False)

In [120]:
df

,participant,modality_dicom,body_parts,age,gender,CR
0,sub-S328670,['CT'],[['chest']],[77],M,False
1,sub-S03080,"['DX', 'CT', 'CR']","[['chest'], ['chest'], ['chest']]","[76, 77]",M,True
2,sub-S324978,['CT'],[['chest']],[60],F,False
3,sub-S313556,['DX'],[['chest']],[66],F,False
4,sub-S326512,"['CT', 'CR']","[['chest'], ['chest']]",[68],M,True
...,...,...,...,...,...,...
30984,sub-S10309,"['DX', 'CR']","[['chest'], ['chest']]",[63],M,True
30985,sub-S330379,['CR'],[['chest']],[58],M,True
30986,sub-S329823,['DX'],[['chest']],[79],F,False
30987,sub-S315438,['CR'],[['chest']],[37],M,True
30988,sub-S11897,['DX'],[['chest']],[63],F,False

In [121]:
#remove the paticipants that do not contain CR:
df = df[df.CR == True]

In [122]:
df

,participant,modality_dicom,body_parts,age,gender,CR
1,sub-S03080,"['DX', 'CT', 'CR']","[['chest'], ['chest'], ['chest']]","[76, 77]",M,True
4,sub-S326512,"['CT', 'CR']","[['chest'], ['chest']]",[68],M,True
5,sub-S311143,['CR'],[['chest']],[55],F,True
6,sub-S325436,['CR'],[['chest']],[42],M,True
7,sub-S308810,"['CR', 'DX']","[['chest'], ['chest']]",[61],F,True
...,...,...,...,...,...,...
30975,sub-S333446,['CR'],[['chest']],[24],F,True
30983,sub-S308698,"['DX', 'CR']","[['chest'], ['chest']]",[62],M,True
30984,sub-S10309,"['DX', 'CR']","[['chest'], ['chest']]",[63],M,True
30985,sub-S330379,['CR'],[['chest']],[58],M,True
30987,sub-S315438,['CR'],[['chest']],[37],M,True

In [134]:
#Print number of unique participants:
print(len(df))

14263

In [132]:
#check for missing values in age column:
count=0
for i in df['age']:
    if len(i) == 2:
        count+=1

print(count)

0

In [137]:
#check for missing values in gender column:
df['gender'].isna().sum()

0