In [2]:
#Install packages:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.patches as mpatches

import requests
import math
import csv

In [3]:
#read metadata from txt to df:
df = pd.read_csv('../Data from datasets/COVID-19_image_data_collection_metadata.txt')

In [5]:
df

,patientid,offset,sex,age,finding,RT_PCR_positive,survival,intubated,intubation_present,went_icu,...,date,location,folder,filename,doi,url,license,clinical_notes,other_notes,Unnamed: 29
0,2,0.0,M,65.0,Pneumonia/Viral/COVID-19,Y,Y,N,N,N,...,"January 22, 2020","Cho Ray Hospital, Ho Chi Minh City, Vietnam",images,auntminnie-a-2020_01_28_23_51_6665_2020_01_28_...,10.1056/nejmc2001272,https://www.nejm.org/doi/full/10.1056/NEJMc200...,NaN,"On January 22, 2020, a 65-year-old man with a ...",NaN,NaN
1,2,3.0,M,65.0,Pneumonia/Viral/COVID-19,Y,Y,N,N,N,...,"January 25, 2020","Cho Ray Hospital, Ho Chi Minh City, Vietnam",images,auntminnie-b-2020_01_28_23_51_6665_2020_01_28_...,10.1056/nejmc2001272,https://www.nejm.org/doi/full/10.1056/NEJMc200...,NaN,"On January 22, 2020, a 65-year-old man with a ...",NaN,NaN
2,2,5.0,M,65.0,Pneumonia/Viral/COVID-19,Y,Y,N,N,N,...,"January 27, 2020","Cho Ray Hospital, Ho Chi Minh City, Vietnam",images,auntminnie-c-2020_01_28_23_51_6665_2020_01_28_...,10.1056/nejmc2001272,https://www.nejm.org/doi/full/10.1056/NEJMc200...,NaN,"On January 22, 2020, a 65-year-old man with a ...",NaN,NaN
3,2,6.0,M,65.0,Pneumonia/Viral/COVID-19,Y,Y,N,N,N,...,"January 28, 2020","Cho Ray Hospital, Ho Chi Minh City, Vietnam",images,auntminnie-d-2020_01_28_23_51_6665_2020_01_28_...,10.1056/nejmc2001272,https://www.nejm.org/doi/full/10.1056/NEJMc200...,NaN,"On January 22, 2020, a 65-year-old man with a ...",NaN,NaN
4,4,0.0,F,52.0,Pneumonia/Viral/COVID-19,Y,NaN,N,N,N,...,"January 25, 2020","Changhua Christian Hospital, Changhua City, Ta...",images,nejmc2001573_f1a.jpeg,10.1056/NEJMc2001573,https://www.nejm.org/doi/full/10.1056/NEJMc200...,NaN,diffuse infiltrates in the bilateral lower lungs,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,479,0.0,F,40.0,Pneumonia,NaN,NaN,NaN,NaN,NaN,...,NaN,United Kingdom,images,072ecaf8c60a81980abb57150a8016_jumbo-9.jpeg,NaN,https://radiopaedia.org/cases/multifocal-round...,CC BY-NC-SA,Asthmatic. Shortness of breath and wheeze. Rou...,"Case courtesy of Dr Ian Bickle, Radiopaedia.or...",NaN
946,479,70.0,F,40.0,Pneumonia,NaN,NaN,NaN,NaN,NaN,...,NaN,United Kingdom,images,ff33c406392b968d483174c97eb857_jumbo-9.jpeg,NaN,https://radiopaedia.org/cases/multifocal-round...,CC BY-NC-SA,Asthmatic. Shortness of breath and wheeze. The...,"Case courtesy of Dr Ian Bickle, Radiopaedia.or...",NaN
947,480,NaN,M,26.0,Pneumonia,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,images,000001-266.jpg,NaN,https://www.eurorad.org/case/947,CC BY-NC-SA 4.0,fire-eater accidentally ingested a paraffin mi...,NaN,NaN
948,481,NaN,M,50.0,Pneumonia,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,images,000001-272.jpg,NaN,https://www.eurorad.org/case/934,CC BY-NC-SA 4.0,"The patient, a heavy smoker, was referred to t...",NaN,NaN
949,481,NaN,M,50.0,Pneumonia,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,images,000002-268.jpg,NaN,https://www.eurorad.org/case/934,CC BY-NC-SA 4.0,"The patient, a heavy smoker, was referred to t...",NaN,NaN

In [11]:
location_df = df.groupby('location')[['patientid']].count().reset_index()

In [12]:
location_df

                                              location  patientid
0                                   Abha, Saudi Arabia          2
1                                  Adelaide, Australia          4
2                                 Adelaide, Australia           4
3                                Al Hasa, Saudi Arabia          1
4                                    Alexandria, Egypt         11
..                                                 ...        ...
138                                     Wenzhou, China         10
139  Wuhan Jinyintan Hospital, Wuhan, Hubei Provinc...          2
140                                       Wuhan, China          9
141                                      Zahedan, Iran          1
142                                      Zigong, China          1

[143 rows x 2 columns]

In [19]:
df['location']

0            Cho Ray Hospital, Ho Chi Minh City, Vietnam
1            Cho Ray Hospital, Ho Chi Minh City, Vietnam
2            Cho Ray Hospital, Ho Chi Minh City, Vietnam
3            Cho Ray Hospital, Ho Chi Minh City, Vietnam
4      Changhua Christian Hospital, Changhua City, Ta...
                             ...
945                                       United Kingdom
946                                       United Kingdom
947                                                  NaN
948                                                  NaN
949                                                  NaN
Name: location, Length: 950, dtype: object

In [39]:
#select the country of each location: 
df['country'] = df["location"].str.rsplit(",", 1).str[-1]

In [47]:
df['country']

0             Vietnam
1             Vietnam
2             Vietnam
3             Vietnam
4             Taiwan
            ...
945    United Kingdom
946    United Kingdom
947               NaN
948               NaN
949               NaN
Name: country, Length: 950, dtype: object

In [56]:
countries = df.groupby('country')[['patientid']].count().reset_index()

In [57]:
countries

            country  patientid
0       Afghanistan          1
1         Australia         69
2        Australia           4
3           Austria          3
4           Belgium          1
..              ...        ...
58           Taiwan          6
59         Thailand          3
60           Turkey          1
61   United Kingdom         25
62  United Kingdom           4

[63 rows x 2 columns]

In [58]:
#save countries as csv:
countries.to_csv("countries.csv")